/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body {
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
}

table td {
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
}

p {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}

.container {
  padding: 30px 0px 0px 0px;}

.picture{
  width: 100px;
}

.table th {
  text-align: center;
}

.follows {
  text-align: center;
}

.followers {
  text-align: center;
}

.profileimg {
  width:70px;
  border-radius: 100%;
}

.navbar-brand {
  font-size: 50px;
  height: 65px;
}

td.user-details {
  table-layout: fixed;
  width: 300px;
  word-break: break-all;
}

.container-fluid {
  width: 750px;
  float: center;
  padding: 40px 0px 0px 0px;
}

.search_form {
  width: 265px;
  float: right;
  padding: 40px 0px 0px 0px;
}

.logo {
  height: 60px;
}

a:hover {
    background-color: inherit;
    color: inherit;
}

@media (max-width: 750px) {
  .search_form {
    float: none;
    padding: 20px 0px 0px 0px;
  }
}