<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>


<h1 class="text-center">Imported last 24 hours: <%= number_with_delimiter(@users_last_24h.count) %> users</h1>
<%= column_chart @users_last_24h.group_by_hour_of_day(:created_at).count %>
