<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<h1 class="text-center">Users imported last 24 hours: <%= number_with_delimiter(@users.count) %></h1>
<%= column_chart @users.group_by_hour_of_day(:created_at).count %>
